- the program should accept a list of cpp source files (google-test tests)
- the program should parse a grammar file on start
	- the file should contain rules in the form of `a` -> `b` (context-free grammar)
	- the program should only produce source code that follow that grammar
- the program should create a executable (.exe)
	- the executable should pass the tests given as the input
