- the program should accept a list of cpp source files (google-test tests)
	- it should output usage if no files are given
- the program should parse a grammar file on start
	- the program should show an error if the file is not found
	- the file should contain rules in the form of `a` -> `b` (context-free grammar)
	- the program should only produce source code that follow that grammar
- the program should create a executable (.exe)
	- the executable should pass the tests given as the input
	- the program should output an error if passing the tests with the given grammar is not possible
